body,
html {
    height: 100%;
}

#home {
    background-image: url("./images/bg_header.jpg");
    height: 100vh;

    background-position: center;
    background-size: cover;
}

.logo-your {
    width: 140px;
    height: auto;
}

.logo{
    margin-left: 1px;
    margin-top: 7px;
}

.petit-titre{
    font-size: 50px;
}

.gros-titre{
    font-size: 80px;
}

#about{
    background-image: url(./images/bg_nuage.jpg);
    height: 100vh;

    background-position: center;
    background-size: cover;
}

.borderAbout{
    border: 1px, solid, white;
    width: 200px;
    height:200px;
    display:flex;

}

.h1{
    font-size: 50px;
}

#history {
    background-image: url("./images/bg_appareil_photo.jpg");
    height: 100vh;

    background-position: center;
    background-size: cover;
}




